[Unit]
Description=Chess Tournament API Service
After=network.target

[Service]
Type=simple
User=superboy
ExecStart=/var/www/app/adminka
WorkingDirectory=/var/www/app
Restart=on-failure

[Install]
WantedBy=multi-user.target
